html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.5fr 3fr;
}

.sidebar {
    background-color: rgb(69, 144, 206);
    grid-row: 1 / -1;
    padding: 25px;
    color: white;
    font-weight: 700;
}

.sidebar li {
    margin-bottom: 20px;
}

.sidebar nav:nth-child(2) {
    margin-top: 50px;
}

.sidebar nav:nth-child(3) {
    margin-top: 50px;
}

a {
    text-decoration: none;
    color: white;
}

header {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 50px;
    box-shadow: rgba(84, 84, 84, 0.24) 0px 3px 8px;
    z-index: 1;
    row-gap: 22px;
}

header > ul {
    display: flex;
    gap: 10px;
}

header ul:first-child li:nth-child(2), header input {
    width: 100%;
}

header input {
    background-color: rgb(227, 232, 239);
    border-radius: 15px;
    border: none;
    padding: 8px;
}

header ul:nth-child(2) li:nth-child(3) span {
    font-weight: 700;
    font-size: 2rem;
}

header > ul:nth-child(2) {
    justify-content: flex-end;
    align-items: center;
}

.header-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / -1;
    align-items: center;
}

.header-bottom ul {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.header-bottom ul:nth-child(2) {
    gap: 30px;
}

.header-bottom ul:first-child {
    display: grid;
    grid-template-columns: 0.15fr 1fr;
    align-items: center;
}

.header-bottom ul:first-child li:nth-child(2) span {
    font-size: 1.4rem;
    font-weight: 700;
}

.header-bottom li:first-child {
    grid-row: 1 / 3;
}

main {
    grid-column: 2;
    background-color: rgb(227, 232, 239);
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 30px;
    gap: 20px;
}

.projects {
    grid-row: 1 / -1;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 20px;
    margin-top: 15px;
}

.card {
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    padding: 30px 20px;
    box-shadow: rgba(84, 84, 84, 0.24) 0px 3px 8px;
    border-radius: 8px;
    border-left: 7px solid rgb(231, 182, 74);
}

.card div {
    grid-column: 1 / -1;
}

.card ul {
    grid-column: 2 / -1;
    display: flex;
    gap: 10px;
    justify-content: end;
    padding-right: 30px;
    align-items: flex-end;
}

ul {
    margin: 0;
}

.announcements li {
    border-bottom: 1px solid rgb(215, 215, 215);
}

.announcements ul, .trending ul {
    background-color: white;
    padding: 25px 20px;
    box-shadow: rgba(84, 84, 84, 0.24) 0px 3px 8px;
    border-radius: 8px;
    margin-top: 15px;
    width: 25rem;
}

.announcements li, .trending li {
    margin-bottom: 10px;
}

.trending li {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin-bottom: 20px;
}

.trending li img {
    grid-row: 1 / 3;
    justify-self: center;
}

.trending li span {
    grid-column: 2;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

h2 {
    font-size: 3rem;
}

.header-bottom h2 {
    font-size: 2.5rem;
}

.sidebar a {
    font-size: 2rem;
}

button {
    background-color: rgb(69, 144, 206);
    color: white;
    padding: 12px;
    border-radius: 20px;
    width: 10rem;
    border: none;
    cursor: pointer;
}

main h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

main p {
    color: rgb(104, 104, 104);
    font-size: 1.5rem;
    margin-top: 8px;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-weight: 400;
}

.trending {
    font-size: 1.3rem;
}

.trending span {
    color: rgb(104, 104, 104);
}

.sidebar img {
    background-color: white;
}

svg {
    width: 3rem;
    vertical-align: middle;
}

.sidebar h2 svg {
    width: 6rem;
}

.sidebar a {
    vertical-align: middle;
}

img {
    border-radius: 50%;
    width: 5rem;
}

.header-bottom img {
    width: 8rem;
}